body{
    background-color: black;
    font:14px verdana;
    color:white;
}
h1{
    text-align:center;
    margin-bottom:25px;
}
h1 span{
    font-size:30px;
    padding:10px;
}
.timerdisplay{
    display: flex;
    justify-content:center;
    align-items: center;
    width:100%;
    margin:30px 0px;
}
.timerdisplay div{
    margin:0px 10px;
}
.timerdisplay div .time{
    font-size:60px;
}
.timerdisplay div div{
    text-align:center;
}
.buttons{
    margin:20px 0px;
    display:flex;
    justify-content: center;
    width:100%;
}
button{
    display:none;
    padding:10px 20px;
    margin:0px 10px;
    background-color: black;
    color:white;
    border:1px solid white;
    border-radius:20px;
    cursor:pointer;
    font-size:17px;
}
button:hover{
    background-color: white;
    color:black;
    box-shadow: 2px 2px 20px white;
}
.freshstate #start{
    display:inline;
}
.startstate #pause, .startstate #lap{
    display:inline;
}
.pausestate #resume, .pausestate #reset{
    display:inline
}
.laps{
    height:500px;
    overflow:scroll;
    display:none;
}
table{
    width:80%;
    margin: 40px auto;
}
th{
    border-bottom: 2px solid #ddd;
}
td{
    border-bottom: 1px solid rgba(200,200,200,0.5);
}
th, td{
    text-align:center;
    padding:10px;
}